@using BlazorTool.Client.Services
@inherits LayoutComponentBase
@inject UserState UserState
@inject NavigationManager Navigation

<TelerikRootComponent>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                @if(UserState.IsAuthenticated)
                {
                    <span class="user-name">Hello, @UserState.UserName!</span>
                    <button class="btn btn-link logout-button" @onclick="Logout">Logout</button>
                }
                <a href="changelog">Version @ThisAssembly.AssemblyInformationalVersion</a>
            </div>


            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</TelerikRootComponent>
@code{
protected override async Task OnInitializedAsync()
    {
        await UserState.InitializationTask;
        if (!UserState.IsAuthenticated)
        {
            Navigation.NavigateTo("/login");
        }
        // Для проверки ролей:
        // if (!UserState.HasRole("Admin")) { ... }
    }

    private async Task Logout()
    {
        await UserState.ClearAsync();
        Navigation.NavigateTo("/login");
    }
}