.main-page-root-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

::deep .home-splitter {
    min-height:92vh;    
}

.orders-grid-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    width: 100%;
}

/* Стили для содержимого панелей */
.grid-content {
    height: calc(100% - 40px); /* Вычитаем высоту заголовка */
    overflow: auto;
}

/* Растягиваем компонент OrdersGrid на всю доступную высоту */
.orders-grid-container :deep(.k-grid) {
    height: 100%;
}

.collapse-toggle {
    cursor: pointer;
    margin-right: .5rem;
    font-weight: bold;
    padding-left: 1rem;
}

.collapsed-content {
    display: none;
}

/* Стили для ручек изменения размера */
:deep(.k-splitbar) {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

:deep(.k-splitbar:hover) {
    background-color: #e0e0e0;
}

:deep(.k-splitbar .k-resize-handle) {
    background-color: #888;
}

/* Стиль для заголовка панели */
.order-header {
    height: 40px;
    padding: 5px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}
