::deep .month-view-slot {
    height: 150px;
    /* Use flexbox to control alignment */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align children to the top-left */
    padding: 2px; /* Reduce padding for the entire cell */
    padding-block: 1px !important;
    padding-inline: 3px !important;
}

::deep .current-day {
    background-color: rgba(66, 135, 245, 0.2);
}

::deep .weekend-day {
    background-color: #bbc4c8;
}

/* Target the day number link */
::deep .month-view-slot .k-link {
    /* Ensure it doesn't stretch */
    flex-grow: 0;
    flex-shrink: 0;
    height: auto;
    width: auto;
    
    /* Add border and padding */
    padding: 0px 2px;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    margin-bottom: 1px; /* Add some space below the date */
    transition: background-color 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;
}

/* --- Hover Effect for Scheduler Cells --- */
::deep .k-slot-cell {
    transition: background-color 0.2s ease-out;
}

    ::deep .k-slot-cell:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.04); /* A subtle, light gray highlight */
    }

    /* Highlight the day number span when hovering the cell */
    ::deep .k-slot-cell:hover .k-link {
        background-color: #e3eef4;
        color: black;
        border-color: #0056b3;
    }

::deep .k-event-actions {
    color: #ff0000;
}


::deep .context-menu-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ClearFilters-btn {
    display: flex;
    align-items: end;
}
    .ClearFilters-btn button{
       
        border-radius: 6px;
    }

.timeline-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

